.zjx,
.zjx * {
  box-sizing: border-box;
}
.zjx {
  background: #ffffff;
  height: 872px;
  position: relative;
  overflow: hidden;
}
.member-6 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: 600;
  position: absolute;
  left: 78px;
  top: 143px;
  width: 337px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -94px);
  top: calc(50% - 149px);
  width: 491px;
  height: 397px;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span3 {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span4 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span5 {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span6 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span7 {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span8 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span9 {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span10 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span11 {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span12 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span13 {
  color: #000000;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.name-timing-age-19-gender-male-school-zhejiang-wanli-university-email-1776016619-qq-com-mbti-u-n-owen-interoduction-nobody-s-here-but-that-s-tree-span14 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 121.08%;
  letter-spacing: 0.05em;
  font-weight: 400;
}
.group-6 {
  position: absolute;
  inset: 0;
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 97.97px;
  left: 83px;
  bottom: 62px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.bsst-team-zwu {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 1080px;
  left: 63px;
  bottom: 14px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2024-6 {
  color: #000000;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  right: 98px;
  left: 1045px;
  bottom: 14px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._20240530105913-3 {
  border-radius: 360px;
  width: 380px;
  height: 380px;
  position: absolute;
  left: calc(50% - 473px);
  top: calc(50% - 171px);
  object-fit: cover;
}
.logo {
  width: 188.65px;
  height: 72.25px;
  position: absolute;
  left: 73px;
  top: 0px;
}
.rectangle-1 {
  width: 99.78%;
  height: 99.85%;
  position: absolute;
  right: 0%;
  left: 0.22%;
  bottom: 0%;
  top: 0.15%;
  transform: translate(0px, 0px);
  overflow: visible;
}
.bbst {
  color: #ffffff;
  text-align: center;
  font-family: "KronaOne-Regular", sans-serif;
  font-size: 36px;
  letter-spacing: 0.1em;
  font-weight: 400;
  position: absolute;
  right: 0.35%;
  left: 0%;
  width: 99.65%;
  bottom: 0.35%;
  top: 0%;
  height: 99.65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-4 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  height: 0px;
  position: absolute;
  right: 107.97px;
  left: 73px;
  top: 72px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-31 {
  position: absolute;
  inset: 0;
}
.about {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 925px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-interoduction {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 587px;
  top: 24px;
  width: 361px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-member {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 296px;
  top: 24px;
  width: 315px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 185px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.final {
  color: #000000;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  right: 74px;
  top: 24px;
  width: 134px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
